.category {
    margin-bottom: 88px;
}
.category .section-title {
    width: 312px;
    margin: 0 auto;
}

.category-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 64px;
}

.category-cards .card {
    width: 312px;
    height: 220px;
    background-color: var(--background-secondary-color);
    text-align: center;
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-primary-color);
}

.category-cards .card h3 {
    font-size: 28px;
    font-weight: var(--title-weight);
}

.category-cards .card img {
    display: block;
    margin: 0 auto 20px;
}

.category-cards .card.single-line {
    padding: 50px;
}



.category-cards .card.single-line.transfer img {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .category .section-title {
        width: 100%;
    }

    .category-cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        max-width: 648px;
        margin: 64px auto 0;
    }

    .category-cards .card {
        width: 100%;
    }
}
