.destinations{
    margin-bottom: 88px;
}
.destinations-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.destinations .item {
    width: 312px;
    background-color: var(--background-secondary-color);
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
}

.destinations .item header {
    display: block;
    position: static;
    padding: 0;
    background-color: transparent;
    margin-bottom: 12px;
}

.destinations .item .img-item {
    width: 100%;
    height: 180px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.destinations .item h4 {
    font-size: 24px;
    font-weight: var(--title-weight);
    margin-bottom: 8px;
}

.destinations .item p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.destinations .item .button {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
}

.destinations .item.tokyo .img-item {
    background-image: url(../img/tokyo-mobile.jpg);
}

.destinations .item.osaka .img-item {
    background-image: url(../img/Osaka-mobile.jpg);
}

@media screen and (min-width: 768px) {
    .destinations-items {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .destinations .item {
        width: calc((100% - 24px) / 2);
        max-width: 420px;
    }

    .destinations .item.tokyo .img-item {
        background-image: url(../img/tokyo-tablet.jpg);
    }

    .destinations .item.osaka .img-item {
        background-image: url(../img/Osaka-tablet.jpg);
    }
}
