body > header {

    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 48px;
    position: relative;
}

.logo {
    display: flex;
    width: 68px;
    align-items: center;

}

.logo img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo .img-desktop {
    display: none;
}

.navigation-menu {
    margin-top: 24px;
}

.navigation-menu ul {
    flex-wrap: wrap;
    justify-content: space-around;
}

input[type="checkbox"]:checked~nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

nav {
    display: none;
    transition: all 0.3s ease;
}

.list-links {
    list-style: none;
}

.list-links li {
    margin: 16px 0;
}

.list-links li a {
    font-weight: var(--menu-text-weight);
    color: var(--text-secondary-color);
    text-decoration: none;
    font-size: 24px;

}

@media screen and (min-width: 768px) {

    .navigation-menu {
        margin-top: 0;
        width: 467px;
    }

    .navigation-menu label {
        display: none;
    }

    .navigation-menu nav {
        display: block;
    }

    .navigation-menu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        flex-wrap: wrap; 
    }

    .navigation-menu ul li {
        margin: 0;
    }

}




@media screen and (min-width: 1024px) {

    body > header {
        padding: 38px 120px;
    }

    .logo {

        width: 260px;
        height: 64px;
    }

    .logo .img-desktop {
        display: block;
    }

    .logo .img-mobile {
        display: none;
    }

    .navigation-menu a:hover {
        color: var(--primary-color);

    }
}

@media screen and (min-width: 1920px) {

    body > header {

        padding: 38px 160px;

    }

}
