.offers-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.card {
    color: var(--text-secondary-color);
    padding: 24px 16px;
    width: 312px;
    height: 288px;
    box-sizing: border-box;
    border-radius: 16px;
    text-align: center;
    
    

}

.card header {
    display: block;
    position: static;
    padding: 0;
    margin-bottom: 24px;
    background-color: transparent;
}


.card header p {
    font-size: 20px;
    font-weight: var(--text-weigth);
}

.card header h3 {
    font-size: 40px;
    font-weight: var(--title-weigth);
    margin: 8px 0 0;
}

.card header span {
    font-size: 32px;
    font-weight: var(--title-weigth);
    display: inline-block;
    margin-top: 24px;
}

.card.japao {
    background: url(../img/bg-card-japao.jpg) no-repeat;
    background-size: cover;
}

.card.san-andreas {
    background: url(../img/bg-card-san-andreas.jpg) no-repeat;
    background-size: cover;
}

.card.paraiba {
    background: url(../img/bg-card-paraiba.jpg) no-repeat;
    background-size: cover;
}

.card.manaus {
    background: url(../img/bg-card-manaus.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px){
    .offers-cards{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

}

@media screen and (min-width: 1024px) {
    .card {
        width: 420px;
        height: 308px;
        
    }
}
    .card header h3 {
        font-size: 48px;

    }

    .card header span {
        font-size: 40px;

    }

    @media screen and (min-width: 1440px) {
    .card{
        width: 488px;
    }
    }

    @media screen and (min-width: 1812px) {
        .card{
        width: 320px;
        height: 308px;
        }
    }