.offers {
    margin-bottom: 104px;
}

.offers-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.offers-cards .card {
    color: var(--text-secondary-color);
    padding: 24px 16px;
    width: 312px;
    height: 288px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 16px;
    text-align: center;
    
    

}

.offers-cards .card header {
    display: block;
    position: static;
    padding: 0;
    margin-bottom: 24px;
    background-color: transparent;
}


.offers-cards .card header p {
    font-size: 20px;
    font-weight: var(--text-weight);
}

.offers-cards .card header h3 {
    font-size: 40px;
    font-weight: var(--title-weight);
    margin: 8px 0 0;
}

.offers-cards .card header span {
    font-size: 32px;
    font-weight: var(--title-weight);
    display: inline-block;
    margin-top: 24px;
}

.offers-cards .card.japao {
    background: url(../img/bg-card-japao.jpg) no-repeat;
    background-size: cover;
}

.offers-cards .card.san-andreas {
    background: url(../img/bg-card-san-andreas.jpg) no-repeat;
    background-size: cover;
}

.offers-cards .card.paraiba {
    background: url(../img/bg-card-paraiba.jpg) no-repeat;
    background-size: cover;
}

.offers-cards .card.manaus {
    background: url(../img/bg-card-manaus.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px){
    .offers-cards{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        max-width: 648px;
        margin: 0 auto;
    }

    .offers-cards .card {
        width: 100%;
    }

}

.offers-cards .card footer {
    margin-top: auto;
}

@media screen and (min-width: 1024px) {
    .offers-cards {
        max-width: 864px;
    }

    .offers-cards .card {
        height: 308px;
    }

    .offers-cards .card header {
        margin-bottom: 16px;
    }

    .offers-cards .card header h3 {
        font-size: 48px;
        line-height: 1.05;
    }

    .offers-cards .card header span {
        font-size: 40px;
        margin-top: 16px;
    }
}
