.card {
    color: var(--text-secondary-color);
    padding: 24px 16px;
    width: 312px;
    height: 288px;
    box-sizing: border-box;
    background-color: black;
    border-radius: 16px;
    text-align: center;

}

.card header {
    display: block;
    position: static;
    background-color: transparent;
    padding: 0;
    margin-bottom: 24px;
}


.card header p {
    font-size: 20px;
    font-weight: var(--text-weigth);
}

.card header h3 {
    font-size: 40px;
    font-weight: var(--title-weigth);
    margin: 8px 0 0;
}

.card header span {
    font-size: 32px;
    font-weight: var(--title-weigth);
    display: inline-block;
    margin-top: 24px;
}